{% extends 'blog/base.html' %}

{% block content %}
<h3>Categoria:</h3>
<ul>
    {% for category in post.categories.all %}
        <li><a href="{% url 'category-detail' category.id %}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content|safe }}</p>
    <p>{{ post.date_posted|date:"d M Y H:i" }}</p>
    {% if post.image %}
    <div class="featured-image">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </div>
    {% endif %}

    {% if user == post.author or user.is_staff %}
    <a href="{% url 'post-delete' post.id %}" class="button-danger">Excluir Post</a>
    {% endif %}

    <h3>Comentários</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>
                    {% if comment.author %}
                        {{ comment.author }}
                    {% else %}
                        Anônimo
                    {% endif %}
                </strong>
                ({{ comment.date_posted|date:"d M Y H:i" }}):
                {{ comment.content }}
                {% if user == comment.author or user.is_staff %}
                    <a href="{% url 'comment-delete' comment.id %}">Excluir</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form method="POST">
        {% csrf_token %}
        <label for="comment-content">Adicionar Comentário</label>
        <textarea id="comment-content" name="content" placeholder="Escreva seu comentário..."></textarea>
        <button type="submit" class="button">Postar</button>
    </form>

    
{% endblock %}